#inventory-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* padding-top: 2em; */
}

body {
  font-family: 'Lato', sans-serif;
}

#nav-brand {
  font-family: 'Prata', serif;
}

.nav-links {
  padding: .5em;
  text-transform: uppercase;
}

.nav-links:hover {
  text-decoration: none;
}

#item {
  flex-basis: 33.33%;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

#item-name {
  color: cornflowerblue;
  font-family: 'Prata', serif;
}

#item-img {
  width: 300px;
}

.item-button {
  height: 4em;
  margin: 1em;
  /* display: block; */
  border: cornflowerblue solid .1em;
  width: 14em;
}

#about-img {
  width: 80%;
}

.page-heading {
  text-transform: uppercase;
}

.pages {
  display: block;
  padding: 3em;
  text-align: center;
}

.main-content {
  width: 60%;
  text-align: center;
  margin: auto;
}

.contact-info {
  padding: 1em;
}

.fa, .fas {
  padding: 0 2em 0 2em;
}